.footer {
    position: relative;
    top: 14%;

    width: 100%;
    height: 10.8em;

    font-family: Orbitron;

    background-color: #757575;
}

.footer_content {
    position: relative;
    float: left;
    left: 0;
    top: 10%;

    width: 98%;

    font-size: 2em;

    margin-left: auto;
    margin-right: auto;

    padding-top: 1%;
}

.footer_content_inline {
    position: relative;
    display: inline-block;
}

.trademark, .explanation {
    position: relative;
    float: left;
    top: 5%;

    font-size: 2em;
}

.trademark {
    left: 5%;
}

.explanation {
    left: 10%;
}