.footer {
    background-color: #C10C06;

    font-family: 'Aldrich', sans-serif;

    height: 13em;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    position: relative;

    width: 99%;
}

@media only screen and (width: 2560px) {
    .footer {
        height: 17em;

        margin-top: 10%;
    }
}

.footer_content_header,
.footer_content_content,
.footer_content_footer {
    float: left;

    font-size: 1.5em;

    left: 0;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

    position: relative;

    width: 98%;
}

.footer_content_inline {
    display: inline-block;

    position: relative;
}

.copyright,
.registered,
.trademark {
    float: left;

    left: 1%;

    position: relative;
}

.year,
.explanation,
.of_what {
    float: left;

    left: 2%;

    position: relative;
}

.download {
    float: right;

    font-size: 1.5em;

    padding-left: 10px;
    padding-right: 10px;

    position: relative;

    right: 1%;
}

.download:hover {
    background-color: #ffffff;

    color: #C10C06;

    cursor: pointer;
}

.material-icons {
    font-size: 2em;
}