.leading_thought_explanation_1 {
	float: left;

	font-size: 0.9em;

	height: 1.3em;

	left: 0;

	margin-top: 5%;

	position: relative;

	text-align: left;

	width: 100%;
}

.open_curly_brace,
.close_curly_brace {
	font-size: 1.5em;
}

.open_source {
	font-weight: bolder;

	position: relative;
}

.four {
	font-size: 2em;
}

.better_tomorrow {
	font-weight: 100;

	position: relative;
}