.content {
    background-color: #C10C06;

    font-family: 'Pompiere', cursive;

    margin: auto;

    max-height: 100%;
    min-height: 65em;
    /* 100% of the height of its parent, i.e. .main */

    position: relative;

    width: 100%;
}

@media only screen and (max-width: 1440px) {
    .content {
        min-height: 92em;
    }
}

@media only screen and (min-width: 1920px) and (max-width: 2560px) {
    .content {
        min-height: 70em;
    }
}

@media only screen and (width: 2560px) {
    .content {
        height: 95em;
    }
}

.content_inline {
    display: inline-block;
}



.json2sql,
.sql2json,
.sql2sql,
.project_website,
.project_mobile_website {
    background-color: #ffffff;

    border: 1px double #ffffff;

    box-shadow: 5px 5px 5px rgb(156, 16, 11);

    cursor: pointer;

    float: left;

    height: 20em;

    margin-left: 3%;
    margin-top: 3%;

    padding: 4%;

    position: relative;

    top: 10%;

    width: 20em;
}

.json2sql,
.sql2json {
    background-color: rgb(20, 79, 124);
}

.sql2sql {
    border-color: rgb(156, 16, 11);

    color: #000000;
}

.project_website {
    background-color: #0062AF;
}

.project_mobile_website {
    border-color: rgb(156, 16, 11);

    color: #000000;
}



.json2sql:hover,
.sql2json:hover {
    background-color: #ffffff;

    color: rgb(20, 79, 124);
}

.sql2sql:hover {
    background-color: #C10C06;

    color: #ffffff;
}

.project_website:hover {
    background-color: yellow;

    color: #0062AF;
}

.project_mobile_website:hover {
    background-color: #0062AF;

    color: #ffffff;
}



.json2sql_header,
.sql2json_header,
.sql2sql_header,
.project_website_header,
.project_mobile_website_header {
    font-size: 1em;

    max-height: 3em;
    min-height: 3em;

    position: relative;

    text-align: center;

    width: 100%;
}

.json2sql_content,
.sql2json_content,
.sql2sql_content,
.project_website_content,
.project_mobile_website_content {
    font-size: 1.5em;

    max-height: 10em;
    min-height: 10em;

    position: relative;

    text-align: left;

    top: 3%;
}

.json2sql_footer,
.sql2json_footer,
.sql2sql_footer,
.project_website_footer,
.project_mobile_website_footer {
    font-size: 1.3em;

    max-height: 1.5em;
    min-height: 1.5em;

    padding: 5%;

    position: relative;

    top: 7%;

    width: 100%;
}