.leading_thought {
    float: left;

    font-family: 'Aldrich', sans-serif;
    font-size: 1em;

    height: 5em;

    left: 2%;

    position: relative;

    text-shadow: 5px 5px 5px rgb(156, 16, 11);

    width: 84%;
}