.footer {
    background-color: #C10C06;

    font-family: 'Aldrich', sans-serif;

    height: 13em;

    margin-bottom: 0.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    position: relative;

    width: 99%;
}

@media only screen and (max-width: 1440px) {
    .footer {
        margin-top: 30%;
    }
}

.footer_content {
    float: left;

    font-size: 2em;

    left: 0;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

    position: relative;

    text-align: center;

    top: 10%;

    width: 100%;
}

.footer_content_inline {
    display: inline-block;

    position: relative;
}

.trademark {
    float: left;

    font-size: 2em;

    left: 2%;

    position: relative;

    top: 5%;
}

.explanation {
    float: right;

    font-size: 2em;

    position: relative;

    right: 2%;

    top: 5%;
}