.content {
    background-color: #C10C06;

    font-family: 'Pompiere', cursive;

    margin: auto;

    max-height: 100%;
    min-height: 143em;
    /* 100% of the height of its parent, i.e. .main */

    position: relative;

    width: 100%;
}

.project_language {
    font-size: 4em;

    height: 1.5em;

    margin-left: auto;
    margin-right: auto;

    position: absolute;

    top: 1%;

    width: 100%;
}

.project_version {
    font-size: 4em;

    height: 1.5em;

    margin-left: auto;
    margin-right: auto;

    position: absolute;

    top: 8%;

    width: 100%;
}

.project_availability {
    font-size: 4em;

    height: 1.5em;

    margin-left: auto;
    margin-right: auto;

    position: absolute;

    top: 15%;

    width: 100%;
}

.project_description {
    float: left;

    font-size: 1.5em;

    height: 50em;

    left: 1%;

    margin-left: auto;
    margin-right: auto;

    position: absolute;

    text-align: left;

    top: 22%;

    width: 100%;
}

.project_history {
    font-size: 4em;

    height: 1.5em;

    margin-left: auto;
    margin-right: auto;

    position: absolute;

    top: 78.5%;

    width: 100%;
}

.project_download {
    font-size: 4em;

    height: 1.5em;

    margin-left: auto;
    margin-right: auto;

    position: absolute;

    top: 85.5%;

    width: 100%;
}

.project_update {
    font-size: 4em;

    height: 1.5em;

    margin-left: auto;
    margin-right: auto;

    position: absolute;

    top: 92.5%;

    width: 100%;
}

.key {
    float: left;

    left: 0.5%;

    position: relative;
}

.value {
    float: right;

    position: relative;

    right: 0.5%;
}

a {
    color: whitesmoke;

    position: relative;
}

a:hover {
    background-color: #ffffff;

    color: #C10C06;

    cursor: pointer;

    text-decoration: none;
}

.project_download .value a,
.project_download .value a:hover {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    position: relative;
}

.material-icons {
    font-size: 1em;

    margin-top: 30%;

    position: relative;
}