.leading_thought {
	float: left;

	font-size: 0.9em;

	height: 1.3em;

	left: 10%;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;

	position: relative;

	text-align: left;

	width: 100%;
}

.open_source_key,
.open_source_value {
	font-family: 'Aldrich', sans-serif;

	font-weight: bolder;

	position: relative;

	top: 4%;
}