body {
    background: -webkit-linear-gradient(top right, #90B740, #0961BA);
    background: -moz-linear-gradient(top right, #90B740, #0961BA);
    background: -o-linear-gradient(top right, #90B740, #0961BA);
    background: linear-gradient(to top right, #90B740, #0961BA);
}