.logo {
    position: relative;
    float: left;
    left: 8%;
		
    width: 110px;
	height: 180px;

    background-size: 100% 180px;
	background-image: url('/open-source-4-better-tomorrow/main/images/logo.png');
    background-repeat: no-repeat;
    
    margin-top: 3%;
}