.footer {
    position: relative;
    top: 14%;

    width: 100%;
    height: 10.7em;

    background-color: #757575;
}

.footer_content_header, .footer_content_footer {
    position: relative;
    float: left;
    left: 0;
    top: 7%;

    width: 98%;

    font-size: 2em;

    margin-left: auto;
    margin-right: auto;
}

.footer_content_inline {
    position: relative;
    display: inline-block;
}

.copyright, .registered {
    position: relative;
    float: left;
    left: 5%;
}

.year, .explanation {
    position: relative;
    float: left;
    left: 6%;
}

.download {
    position: relative;
    float: right;
    right: 1%;

    cursor: pointer;
}

.material-icons {
    font-size: 2em;
}