.motto {
	position: relative;
		
	width: 94%;

	font-size: 0.9em;

	margin-left: auto;
	margin-right: auto;

	text-align: left;
	text-shadow: 1px 1px 1px black;
}

.idea {
	position: relative;
	float: left;
	left: 19%;

	width: 43%;

	font-size: 0.3em;

	letter-spacing: 8px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
}

.idea_supported_by {
	position: relative;
	float: left;
	left: 20%;
	top: 1%;
		
    width: 5%;
	height: 1em;

    background-size: 100% 1em;
	background-image: url('/open-source-4-better-tomorrow/main/images/supported_by_logo.png');
	background-repeat: no-repeat;
	
	cursor: pointer;
}