.leading_thought_explanation_2 {
	position: relative;
	float: left;
	left: 0;
	top: 15%;
	
	width: 100%;

	font-size: 0.9em;

	text-align: left;
	text-shadow: 1px 1px 1px black;
}

.idea {
	position: relative;
	float: left;
	left: 0;

	width: 50%;

	font-size: 0.3em;

	letter-spacing: 8px;

	margin-top: 1%;
}

.supported_by {
	position: relative;
	float: left;
	left: 0;
	top: 1%;
		
    width: 5%;
	height: 1em;

    background-size: 100% 1em;
	background-image: url('/open-source-4-better-tomorrow/main/images/supported_by_logo.png');
	background-repeat: no-repeat;
	
	cursor: pointer;
}