.splash {
    width: 35%;
    height: 46em;

    background-size: 100% 46em;
	background-image: url('/open-source-4-better-tomorrow/main/images/splash_logo.png');
    background-repeat: no-repeat;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2.2em;

    opacity: 0;
}